.card-container {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: 30%;
  min-width: 350px;
}
.settings-icon:hover{
  cursor: pointer;
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
  margin-bottom: 15px;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgb(143, 137, 137);
}

.logo {
  background-color: rgb(212, 200, 200);
  width: 50px;
  height: 50px; 
  border-radius: 30px;
}

.title {
  margin: 0;
  display: flex;
  flex: 1;
  font-size: 1.5rem;
}
h4 {
  margin: 0;
  font-size: 1.2rem;
  align-self: flex-start;
}
.card-body-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.lists{
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.lists h5 {
  margin: 0 ;
}
.lists li {
  margin-top: 0.3rem;
}
.lists ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
input[type="number"] {
  width: 50px;
  text-align: center;
}